/* @created by sasha

 */
#s-m-t-tooltip{
    /* basic */
    max-width:600px;
    z-index:10;
    margin:24px 14px 7px 12px;
    /* style and design */
    padding:8px;
    /* font */
    font-size:12px;
    line-height:16px;
    background-color:white;
    color:#000;
    border:solid #85B82C 3px;
}