# Auto detect text files and perform LF normalization
* text=auto

# define text files

*.php    text diff=php
*.html   text diff=html
*.css    text
*.js     text
*.sql    text
*.com    text
*.sh     text

# define binary files
*.png    binary
*.jpg    binary
*.gif    binary
*.exe    binary
*.mo     binary
*.po     binary
*.po~    binary
