@charset "utf-8";
/* CSS Document */

form#search-form {
	background:url(../../images/Hostelek.com/search-top-back.png) no-repeat scroll right top transparent;
	padding-bottom:12px;
	position:relative;
}

#header h1 {
		display:block;
		position:absolute;
		top:-7px;
		left:5px;
		height:121px;
		width:455px;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		background: url(../../images/Hostelek.com/h1-logo-hb.png) no-repeat top left;
	}


form#dispo-form{		
		background:url(../../images/Hostelek.com/book-back.gif) no-repeat top left;		
}	

form#search-form input#search-submit{		
		background:url(../../images/Hostelek.com/search-button-hb.png) no-repeat top left;
		
}

table.payment input#submit-payment{
		background:url(../../images/Hostelek.com/submit-payment.png) no-repeat top left;
}