<div class="col0 booking booking-end">
            <img style="position:absolute; top:-122px; right:18px;" src="http://auberges.GraphemSolutions.net/images/AubergesDeJeunesse.com/progress-3.png" alt="Numéro de dossier et email de confirmation" />
    <h1 class="green-bar-order">Confirmation de Votre Réservation</h1>
                <div class="col0-2">
            <h2 class="dotted-line margbot10 checked">Votre réservation est validée</h2>
      <p>Votre réservation est maintenant confirmée. Nous vous conseillons d'imprimer cette page afin de conserver les détails de votre réservation. Vous devrez présenter cette confirmation lors de votre arrivée à <strong><a href="http://auberges.GraphemSolutions.net/auberge/Augur-Hostel/39678">Augur Hostel</a></strong>.      </p>
      
      <p>Vous allez recevoir un courriel dans les 5 minutes avec toutes les informations contenu sur cette page. Si vous ne le recevez pas, verifiez votre boite "Spam/Junk". Vous pouvez aussi vous connecter à votre compte pour voir toutes vos réservations.</p>
      
      <p><strong><a href="http://auberges.GraphemSolutions.net/usager">Vous connecter à votre compte &raquo;</a></strong></p>
      
      <h2 class="dotted-line margbot10">Détails de la réservation</h2>
      <p>Votre numéro de confirmation : <strong>39678-4580113</strong></p>
      
      <h3>Augur Hostel</h3>
      
      <p class="arrival-dep">Arrivée : <b> 1 avril 2011</b> à <b>11:00</b> &nbsp; &nbsp; Nombre de nuits : <b>2</b></b></p>
      
      <table class="review" cellpadding="0" cellspacing="0">
        <thead>
          <tr valign="middle" align="center">
            <th class="first-cell">Date</th>
            <th>Chambre</th>
            <th>Prix</th>
            <th>Nb. Personnes</th>
            <th width="18%" class="last-cell">Total</th>
          </tr>
        </thead>
         
        <tbody>
                   <tr>
             <td class="first-cell"> 1 avril 2011</td>
             <td>
              Dortoir (5 lits)             </td>
             <td>4.4720 &pound;</td>
             <td>1</td>
             <td class="value">4.47 &pound;</td>
          </tr>
                    <tr>
             <td class="first-cell"> 2 avril 2011</td>
             <td>
              Dortoir (5 lits)             </td>
             <td>4.4720 &pound;</td>
             <td>1</td>
             <td class="value">4.47 &pound;</td>
          </tr>
                    </tbody>
          
          <tfoot>
            <tr class="dark">
             <td align="right" colspan="4"><b>Total:</b>&nbsp;</td>
             <td class="total-value"><b>8.94 &pound;</b></td>
            </tr>
            <tr class="light">
             <td align="right" colspan="4">
             10% Arrhes + frais de service facturé en GBP à votre carte:
             </td>
             
             <td>
               <b>0.8944 &pound;</b>
             </td>
            </tr>
          
            <tr class="end-total dark">
              <td align="right" colspan="5">
                  <span id="bookingFeeDesc">Montant restant à payer lors de votre arrivée (50.4): </span>
                  <span style="display: inline;"><b> ARS</b></span>
                   
                  <span class="custom-cur">(~12.9915CAD)</span>
                                </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col0">
        <div class="entry">
            <h2 class="dotted-line margbot10">Information sur l'établissement </h2>
        
            <p class="conf-detail">Nom de l'établissement:
                <span>Augur Hostel</span>
            </p>
        
            <p class="conf-detail">Adresse:
                <span>Sanchez de Bustamante   #497</span>
                <span></span>
                <span></span>
                <span>Buenos Aires, </span>
                <span>Argentina</span>
                <span>1073</span>
            </p>
        
            <p class="conf-detail">Téléphone portable:
                <span>0054 114 862 1033</span>
            </p>
            
            
            <p class="conf-detail">Fax:
                <span>0054 114 862 1033</span>
            </p>
          
            <p class="conf-detail">Email:
                <span><a href="mailto:info@augurhostel.com">info@augurhostel.com</a></span>
            </p>
            
            
            <div style="clear:both;"></div>
        </div>
         
        <div class="entry">      
         <h2 class="dotted-line margbot10 margtop10">Directions</h2>
         <p>From Airport Ezeiza: </p>
<p>86-urban Bus (from the airport to Avenida Rivadavia 3300, then turn left and walk 5 blocks down Sanchez de Bustamante to # 497) </p>
<p>Approximate price: AR $ 1.60 / $ 0.50 </p>
<p>Duration: 1 hour 25 minutes </p>
<p>Manuel Tienda Leon Bus: (to the terminal by Manuel Tienda Leon Avenida Madero and San Martín, then walk one block to the subway and take Line C to Diagonal Norte station, which combines with Line B direction Station Incas . descends Carlos Gardel Station and walk 2 blocks to Sanchez de Bustamante. Finally turns left and walks 10 meters) </p>
<p>Approximate price: AR $ 40 / 12 USD </p>
<p>Duration: 1 hour </p>
<p>Taxi or "Remis" </p>
<p>Approximate price: AR $ 90 / 25 USD </p>
<p>Duration: 50 minutes (up to 3 people per taxi) </p>
<p>From Retiro Bus Station: </p>
<p>Bus 26: From the station to the street Lavalle 3500. Then walk left 2 blocks on Sanchez de Bustamante to find the Hostel </p>
<p>Approximate price: AR $ 1.10 / 0.30 USD </p>
<p>Duration: 25 minutes </p>
<p>Metro-Line C-Lo takes towards the station and descends Constitution Diagonal Norte station where combined with Line B direction Station Incas. Get off at the station Carlos Gardel and walk 2 blocks to Sanchez de Bustamante. Finally turns left and walks 10 meters. </p>
<p>Approximate price: AR $ 1.10 / 0.30 USD </p>
<p>Duration: 25 minutes </p>
<p>Taxi or "Remis" </p>
<p>Approximate price: AR $ 20 / 6.25 USD </p>
<p>Duration: 20 minutes </p>
<p>From Aeroparque Jorge Newbery: </p>
<p>Taxi or "Remis"</p>
<p>Approximate price: AR $ 25 / 7.80 USD </p>
<p>Duration: 30 minutes</p>        </div>
    </div>
    
    
    <div class="col0">
       <div class="entry"> 
        
                  
        <h2 class="dotted-line margbot10" style="clear:both;">Conditions </h2>
        
        <p class="conditions">
           
          Vous devez payer pour votre chambre à votre arrivée. Veuillez, s'il vous plaît, vous assurer que votre carte de crédit est valide. Les cartes sont vérifiées la veille des arrivées et le fait de réserver à l'aide d'une carte invalide annulera votre réservation. Si vous avez réservé à l'aide de votre carte bancaire ou si vous doutez de la validité de votre carte de crédit, veuillez contacter l'établissement au moins 24 heures avant votre arrivée afin de confirmer votre réservation.<br>
          <ul class="conditions">
                  
            <li>Le montant restant (après déduction du dépôt) est dû à votre arrivée. </li>
            <li><font color="#a90000">Les annulations doivent être effectuées directement auprès de l'établissement.</font></li>
            <li>Si vous ne vous présentez pas à la date prévue et que vous n'avez pas annulé votre réservation, votre carte de crédit sera facturée pour le montant total de votre première nuit de réservation. </li>
            <li><font color="#a90000">Pour effectuer toute modification à une réservation, veuillez contacter directement l'établissement.</font></li>
            <li>Si votre carte de crédit devient invalide ou que des modifications sont apportées à votre compte avant votre arrivée, veuillez contacter directement l'établissement afin de prendre d'autres dispositions. </li>
            <li>En cas d'annulation de votre réservation, le dépôt et les frais de réservation ne peuvent pas être pas remboursés. </li>
            <li>Veuillez s'il vous plaît lire attentivement nos termes et conditions. </li>
            <li>Pour toute question, consultez notre <a href="http://auberges.graphemsolutions.net/aide">Centre d'aide en ligne</a>.</li>
          
                              
        </ul>
           
                
        </div>
    
        </div>
   
        