<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Auberges de Jeunesses</title>
	<meta http-equiv="Content-Language" content="en-us" />
	
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	
	<meta name="description" content="" />
    
	<meta name="keywords" content="" />
    <link href="style.css" media="all" rel="stylesheet" type="text/css" />
    
           
    <!--[if lt IE 7]>
       <script type="text/javascript" src="js/supersleight-min.js"></script>
       <script type="text/javascript" src="js/jquery.dropdown.js"></script>
       <style type="text/css" media="screen">
       @import url("ie6.css");
           
    	</style>
        
	<![endif]--> 
    
    <script type="text/javascript">
    
	$(function() {
		$("body").addClass("has-script");
       		
    });
	
    </script>

</head>

<body>

	<div id="container">
                    
            <!-- header -->
      <div id="top-menu" class="clearfix">
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="">Confidentialit&eacute;</a></li>
          <li class="last"><a href="">Conditions</a></li>
        </ul>
        
        <ul>
          <li><a href="">Se connecter</a></li>
          <li class="last"><a href="">S'enregistrer</a></li>          
        </ul>
        
      </div>      
      
      <div id="header" class="clearfix">
      
        <h1><a href="/">Auberges de jeunesses.com</a></h1>
        <div id="quote">
            
          <p>Le voyage commnece ici. Plus de 30,450 Auberges &agrave; votre port&eacute;</p> 
                                  
        </div> 
                     
      </div>
      
      <div id="menu">
           
        <ul>
         <li class="first "><a href="">Accueil</a></li>
         <li class="current_page_item"><a href="">Auberges de jeunesse</a></li>
         <li><a href="">Week-end</a></li>
         <li><a href="">Hotel</a></li>
         <li><a href="">Vol</a></li>
         <li><a href="">Trains</a></li>
         <li><a href="">Voitures</a></li>
         <li><a href="">&Eacute;v&eacute;nement</a></li>
         <li class="last"><a href="">Contact</a></li>
        </ul>
        
      </div><!-- End Menus -->
      
           
      <div id="mainbar" class="clearfix" >
      	<h1>R&eacute;servation imm&eacute;diate de votre auberge de jeunesse</h1>
        <form id="search-form" action="" method="">
          <ul>
            <li>
              <label for="search-term">Sp&eacute;cifier Auberge/Destination:</label>
              <input type="text" name="search-term" id="search-term" class="large-text" />
            </li>          
            <li>
              <label for="search-date">Arrive le:</label>
              <input type="text" name="search-date" id="search-date" class="large-text" />
            </li>          
            <li>
              <label for="search-night">Nuits:</label>
              <input type="text" name="search-night" id="search-night" class="small-text" />
            </li>          
            <li>
              <label for="search-people">Invit&eacute;:</label>
              <input type="text" name="search-people" id="search-people" class="small-text" />
            </li>
            <li class="search-submit">
              <input onfocus="this.blur()" type="submit" name="search-submit" id="search-submit" />
            </li>
          </ul>
        </form>
        
        <div id="right-mainbar">
        	<!-- to do -->
        </div>
        
        <ul id="bread-crumb">
          <li class="first"><a href="">Auberges de jeunesse</a></li>
          <li><a href="">Europ</a></li>
          <li><a href="">Angleterre</a></li>
          <li><a href="">Londre</a></li>
        </ul>
        
        <ul id="account-mainbar">
          <li><a class="your-account" href="">Votre Compte</a></li>
          <li><a class="group-reserve" href="">Réservation de groupe</a></li>
        </ul>
        
      </div><!-- end mainbar -->
      <div id="second-container">         
        <div id="content" class="clearfix">
          <div id="main">
            <div class="col1">
              <h1 class="green-bar-view">Nom de L'auberge de Jeunesse</h1>
              
              <ul class="view-menu">
                <li><a href="">Info &amp; Prix</a></li>
                <li><a href="">Cartes et Directions</a></li>
                <li><a href="">Commentaires</a></li>
              </ul>
                  
              <ul class="eval-view">
                <li>evaluation moyenne</li>
                <li><span>98%</span></li>
              </ul>
                                       
              <div class="hoste-view">
               
              	<div class="slideshow">
                	<div class="slides">
                      <img class="main" src=""/>
                    </div>
                    <div class="control">
                      <!-- img widht 52px padding 2px border 1px margin-rigth:13px; margin-bottom:13px; -->
                      <img class="thumbnail" src="" />
                      <img class="thumbnail" src="" />
                      <img class="thumbnail" src="" />
                      <img class="thumbnail" src="" />
                      <img class="thumbnail" src="" />
                      <img class="thumbnail" src="" />                      
                    </div>                
                </div>
                
                <h2>&Agrave; propos de nom de l'hostel</h2>
                <p>Hotel Lido has 14 rooms, and 1 suite. The hotel rooms, in its classic style, offer for our guests a very relaxing environment with Air Conditioner, Refrigerator, Satellite TV, Direct dial Phone with international connection, Wireless Internet Access (Free of charge), WC, Toilet, Shower. Hotel Lido offers a variety of services, which make the stay very comfortable for our guests: Accommodation in Single Room, Double Room and Suite, Room Service, Taxi Service (by request), Laundry Service EXTRA, Hall, bars, Restaurant, Money Exchange, Meeting Room, Conference Room, Parties... etc. Free Wireless Internet Access 24/7, Direct Dial Telephone (Including International Connection), Secretary Services, Photocopy and FAX.</p>

<p>A credit card is required to secure the reservation.</p>
<p>You have up to 3 days prior to arrival to cancel the reservation without charge. If the reservation is cancelled within 72 hours prior to arrival you will be charged 1 night stay. Same day cancellations, no shows or early check out will result in 1 night charge. </p>
<p>Check in: 13:00 <br />
Check out: 11:00 </p>
<p>Payment: credit card will be charged on arrival day</p>

				<h2>Commodite</h2>
                <ul class="float-list">
                  <li>Petit déjeuner inclus</li>
                  <li>Restaurant</li>
                  <li>Accés à Internet</li>
                  <li>Blanchisserie</li>
                  <li>Bar</li>
                  <li>Piscine</li>
                </ul>
                <ul class="float-list">
                  <li>Réception 24h/24</li>
                  <li>Bureau de change</li>
                  <li>Salle de gym</li>
                  <li>WiFi in Lobby</li>
                  <li>Connexion Wifi dans la chambre</li>
                  <li>Air conditionné</li>
                </ul>
				
                <h2>Dernier Commentaire</h2>
                
                <div class="comment-shortlist">
                  <div class="info">
                    <a href=""><img src="images/hostel-pic3.jpg" alt=""></a>
                   
                    <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
  </p>
                    <a href="" class="more-info">Nom, pays - Lire la suite &raquo;</a>
                  </div>
                  <div class="rating">
                    <ul class="star">
                        <li>1 etoile</li>
                        <li>2 etoile</li>
                        <li>3 etoile</li>
                        <li>4 etoile</li>
                        <li>5 etoile</li>
                    </ul>
                    <p class="date">10 novembre</p>
                  </div>
                
                </div>
                
                <div class="comment-shortlist">
                  <div class="info">
                    <a href=""><img src="images/hostel-pic3.jpg" alt=""></a>
                   
                    <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
  </p>
                    <a href="" class="more-info">Nom, pays - Lire la suite &raquo;</a>
                  </div>
                  <div class="rating">
                    <ul class="star">
                        <li>1 etoile</li>
                        <li>2 etoile</li>
                        <li>3 etoile</li>
                        <li>4 etoile</li>
                        <li>5 etoile</li>
                    </ul>
                    <p class="date">10 novembre</p>
                  </div>
                
                </div>
                
                <a class="read-all">Lire tous les commentaire &raquo;</a>
              

              
              </div>          
          </div>
          
          <div id="sidebar">
            <div class="widget">
              <h2 class="blue-bar-300">Verifier les disponibilite</h2>
                <div class="widget-content">
                <form id="dispo-form" action="" method="">
                  <ul>
                      
                    <li>
                      <label for="dispo-date">Arrive le:</label>
                      <input type="text" name="dispo-date" id="dispo-date" class="large-text" />
                    </li>          
                    <li>
                      <label for="dispo-night">Nuits:</label>
                      <input type="text" name="dispo-night" id="dispo-night" class="small-text" />
                      <label for="dispo-people">Invit&eacute;:</label>
                      <input type="text" name="dispo-people" id="dispo-people" class="small-text" />
                    </li>          
                    
                    <li class="search-submit">
                      <input onfocus="this.blur()" type="submit" name="dispo-submit" id="dispo-submit" />
                    </li>
                  </ul>
                </form>
                </div>
            </div>
            
            <div class="widget">
              <h2 class="dark-bar-300">Sur le blogue</h2>
              <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum erat neque. Sed non nisl convallis nunc sagittis posuere. Donec diam purus, commodo eget laoreet vitae, accumsan in metus. Sed lobortis consequat metus nec eleifend. Mauris lacinia sagittis vulputate. Ut dui ipsum, tincidunt in tincidunt vitae, suscipit et purus.</p>
                <a href="">En savoir plus &raquo;</a>
                </div>
            </div>
            
            <div class="widget">
              <h2 class="green-bar-300">Top Auberges</h2>
              <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum erat neque. Sed non nisl convallis nunc sagittis posuere. Donec diam purus, commodo eget laoreet vitae, accumsan in metus. Sed lobortis consequat metus nec eleifend. Mauris lacinia sagittis vulputate. Ut dui ipsum, tincidunt in tincidunt vitae, suscipit et purus.</p>
                <a href="">En savoir plus &raquo;</a>
                </div>
            </div>
          </div>
          
          
              
        </div>
        
        <div id="content-bottom">
        </div>
        
      </div>
      
      <div id="bottom-pub">
        <a href=""><img src="" alt="" /></a>
      </div>
       
  </div> <!--end container-->    
  
  
  <div id="footer">
    <div id="footer-content" class="clearfix">
    
        <div class="col2">
          <h1>Top Desination</h1>
          <p>some text here</p>
        </div>
        
        <div class="col2">
          <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
        <div class="col3">
        <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
        <div class="col3">
        <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
    </div> 
    </div>        
      
    
   
</body>
</html>