<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Auberges de Jeunesses</title>
	<meta http-equiv="Content-Language" content="en-us" />
	
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	
	<meta name="description" content="" />
    
	<meta name="keywords" content="" />
    <link href="main.css" media="all" rel="stylesheet" type="text/css" />
    
           
    <!--[if lt IE 7]>
       <script type="text/javascript" src="js/supersleight-min.js"></script>
       <script type="text/javascript" src="js/jquery.dropdown.js"></script>
       <style type="text/css" media="screen">
       @import url("ie6.css");
           
    	</style>
        
	<![endif]--> 
    
    <script type="text/javascript">
    
	$(function() {
		$("body").addClass("has-script");
       		
    });
	
    </script>

</head>

<body>

	<div id="container">
                    
            <!-- header -->
      <div id="top-menu" class="clearfix">
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="">Confidentialit&eacute;</a></li>
          <li class="last"><a href="">Conditions</a></li>
        </ul>
        
        <ul>
          <li><a href="">Se connecter</a></li>
          <li class="last"><a href="">S'enregistrer</a></li>          
        </ul>
        
      </div>      
      
      <div id="header" class="clearfix">
      
        <h1><a href="/">Auberges de jeunesses.com</a></h1>
        <div id="quote">
            
          <p>Le voyage commnece ici. Plus de 30,450 Auberges &agrave; votre port&eacute;</p> 
                                  
        </div> 
                     
      </div>
      
      <div id="menu">
           
        <ul>
         <li class="first "><a href="">Accueil</a></li>
         <li class="current_page_item"><a href="">Auberges de jeunesse</a></li>
         <li><a href="">Week-end</a></li>
         <li><a href="">Hotel</a></li>
         <li><a href="">Vol</a></li>
         <li><a href="">Trains</a></li>
         <li><a href="">Voitures</a></li>
         <li><a href="">&Eacute;v&eacute;nement</a></li>
         <li class="last"><a href="">Contact</a></li>
        </ul>
        
      </div><!-- End Menus -->
      
           
      <div id="mainbar" class="clearfix" >
      	<h1>R&eacute;servation imm&eacute;diate de votre auberge de jeunesse</h1>
        <form id="search-form" action="" method="">
          <ul>
            <li>
              <label for="search-term">Sp&eacute;cifier Auberge/Destination:</label>
              <input type="text" name="search-term" id="search-term" class="large-text" />
            </li>          
            <li>
              <label for="search-date">Arrive le:</label>
              <input type="text" name="search-date" id="search-date" class="large-text" />
            </li>          
            <li>
              <label for="search-night">Nuits:</label>
              <input type="text" name="search-night" id="search-night" class="small-text" />
            </li>          
            <li>
              <label for="search-people">Invit&eacute;:</label>
              <input type="text" name="search-people" id="search-people" class="small-text" />
            </li>
            <li class="search-submit">
              <input onfocus="this.blur()" type="submit" name="search-submit" id="search-submit" />
            </li>
          </ul>
        </form>
        
        <div id="right-mainbar">
        	<!-- to do -->
        </div>
        
        <ul id="bread-crumb">
          <li class="first"><a href="">Auberges de jeunesse</a></li>
          <li><a href="">Europ</a></li>
          <li><a href="">Angleterre</a></li>
          <li><a href="">Londre</a></li>
        </ul>
        
        <ul id="account-mainbar">
          <li><a class="your-account" href="">Votre Compte</a></li>
          <li><a class="group-reserve" href="">Réservation de groupe</a></li>
        </ul>
        
      </div><!-- end mainbar -->
      <div id="second-container">         
        <div id="content" class="clearfix">
          <div id="main">
            <div class="col1">
              <h1 class="green-bar-order">Auberge de Jeunesse &agrave; Londre</h1>
              
              <form id="sort-result" action="" method="">
                <label for="ordre">Classer par</label>
                <select name="classement">
                    <option value="nom">nom</option>
                    <option value="cote">cote</option>
                </select>
                <label for="ordre">Ordre</label>
                <select name="order">
                    <option value="asc">Ascendant</option>
                    <option value="des">Descendant</option>
                </select>
              </form>
              
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic1.jpg" alt=""></a>
                  <h2><a href="">Lido Hotel Durres</a> </h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a title="Reserver nom de lhostel" class="reserve" href="">R&eacute;server</a>
              </div>
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic2.jpg" alt=""></a>
                  <h2><a href="">Adriatik Hotel</a></h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a class="reserve" href="">R&eacute;server </a>
              </div>
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic3.jpg" alt=""></a>
                  <h2><a href="">Hotel Nais</a></h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a class="reserve" href="">R&eacute;server</a>
              </div>
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic1.jpg" alt=""></a>
                  <h2><a href="">Lido Hotel Durres</a> </h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a title="Reserver nom de lhostel" class="reserve" href="">R&eacute;server</a>
              </div>
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic2.jpg" alt=""></a>
                  <h2><a href="">Adriatik Hotel</a></h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a class="reserve" href="">R&eacute;server </a>
              </div>
              
              <div class="hostel-list">
                <div class="info">
                <a href=""><img src="images/hostel-pic3.jpg" alt=""></a>
                  <h2><a href="">Hotel Nais</a></h2>
                  <p>In the center of the ancient city of Durres, by the sea, near the port, the ethnographic museum, the amphitheater, the tower, in the administrative zone
</p>
                  <a href="" class="more-info">Plus d'information &raquo;</a>
                </div>
                <div class="rating">
                  <p class="value">98%</p>
                  <p class="comment">38 commentaires</p>
                </div>
                <a class="reserve" href="">R&eacute;server</a>
              </div>
              
              
            </div>          
          </div>
          
          <div id="sidebar">
            <div class="widget">
              <h2 class="blue-bar-300">This is a title</h2>
                <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum erat neque. Sed non nisl convallis nunc sagittis posuere. Donec diam purus, commodo eget laoreet vitae, accumsan in metus. Sed lobortis consequat metus nec eleifend. Mauris lacinia sagittis vulputate. Ut dui ipsum, tincidunt in tincidunt vitae, suscipit et purus.</p>
                <a href="">En savoir plus &raquo;</a>
                </div>
            </div>
            
            <div class="widget">
              <h2 class="dark-bar-300">Sur le blogue</h2>
              <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum erat neque. Sed non nisl convallis nunc sagittis posuere. Donec diam purus, commodo eget laoreet vitae, accumsan in metus. Sed lobortis consequat metus nec eleifend. Mauris lacinia sagittis vulputate. Ut dui ipsum, tincidunt in tincidunt vitae, suscipit et purus.</p>
                <a href="">En savoir plus &raquo;</a>
                </div>
            </div>
            
            <div class="widget">
              <h2 class="green-bar-300">Top Auberges</h2>
              <div class="widget-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum erat neque. Sed non nisl convallis nunc sagittis posuere. Donec diam purus, commodo eget laoreet vitae, accumsan in metus. Sed lobortis consequat metus nec eleifend. Mauris lacinia sagittis vulputate. Ut dui ipsum, tincidunt in tincidunt vitae, suscipit et purus.</p>
                <a href="">En savoir plus &raquo;</a>
                </div>
            </div>
          </div>
          
          
              
        </div>
        
        <div id="content-bottom">
        </div>
        
      </div>
      
      <div id="bottom-pub">
        <a href=""><img src="" alt="" /></a>
      </div>
       
  </div> <!--end container-->    
  
  
  <div id="footer">
    <div id="footer-content" class="clearfix">
    
        <div class="col2">
          <h1>Top Desination</h1>
          <p>some text here</p>
        </div>
        
        <div class="col2">
          <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
        <div class="col3">
        <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
        <div class="col3">
        <h1>Title for the list</h1>
          <ul class="dots">
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <li><a href="">Item 5</a></li>
          </ul>
        </div>
        
    </div> 
    </div>        
      
    
   
</body>
</html>