
/* Base element */

	html, body {
		height:100%;
	}

/*Images*/	

	img {
		margin:0;
		padding:0;
		border: none;
	}

/*End Images*/

/* Typo */		

	p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;
		line-height:1.6em;
	}

	h1 {
		font-size: 2em;
		line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
	
	h2 {
		font-size: 1.8em;
       	line-height: 1.5em;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
	
	h3 {
		font-size: 1.5em;
		font-weight:normal;
       	line-height: 1.5em;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	
	h4 {
		font-size: 1.4em;
		font-weight:normal;
       	line-height: 1.5em;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	
	h5 {
		font-size: 1.2em;
       	line-height: 1.5em;
		margin: 0 0 0.3em 0;
		padding: 0;
	}
	
	ul, li {
		margin:0px;
		padding:0px;
		list-style:none;
	}


/* End Typography */		

/* Links */

	a,	a:link,	a:active {
		color:#529403;
		text-decoration: none;
		outline:none;
	}

	a:hover {
       color:#529403;
	   text-decoration: underline;
	   outline:none;
	}

/* End Links */

/* End Base element */

	body {
		margin: 0;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
		font-size:12px;
		color:#464646;
		background:#d1e0ea url(images/body-back.gif) repeat-x top left;
	}
	
	#container{
		margin:0 auto;
		width:964px;
		padding:0px 0px 30px 0px;
    }

/*Header and menu */	

	#header{
		margin:0;	
		position:relative;
		padding:0 2px;
		margin-top:-10px;
		margin-bottom:10px;
    }
	
	#header h1 {
		display:block;
		position:relative;
		margin:0px;
		float:left;
		left:5px;
		height:121px;
		width:471px;
		overflow:hidden;
		padding:0;
		text-decoration:none;
		text-indent:-9999px;
		background: url(images/h1-logo.png) no-repeat top left;
	}
	
	#header h1 a {
		display:block;
		height:121px;
		width:435px;
		
	}
	
	#quote {
		position:relative;
		margin:0px;
		padding:0px;
		float:right;
		top:35px;
		right:0px;
	}
	
	#quote h2 {
		font-size:1.5em;
		line-height:1.2em;
		font-style:italic;
		overflow:auto;
		padding:0px;
		margin:0px;	
	}
	
	#quote p{
		text-align:right;
		margin:0px 10px 0px 0px;
		text-align:right;
		color:#b7b7b7;
	}
	
	#top-menu {
		height:26px;
		margin-top:5px;
		padding:0 2px;
	}
	
	#top-menu a{
		color:#464646;
	}
	
	#top-menu ul{
		height:26px;
		line-height:22px;
		float:right;
		background:url(images/topmenu-long.gif) no-repeat bottom left;
		padding-left:5px;
		margin-left:10px;
	}
	
	#top-menu ul li{
		
		line-height:22px;
		
		height:26px;
		float:left;
		
	}
	
	#top-menu ul li.last{
		background:url(images/topmenu-short.gif) no-repeat bottom right;
		padding-right:15px;
	}
	
	#top-menu ul li a{
		display:block;
		background:url(images/top-li-back.gif) no-repeat center right;
		margin-left:7px;
		padding-right:9px;		
	}
	
	#top-menu ul li.last a{
		background:none;
		padding-right:0px;
	}

/* DropDown Menu */	
	
	#menus {
		height:40px;
		padding:0px;
		background:url(images/main-menu-back.gif) no-repeat top left;
	}
	
	

/* En DropDown Menu */	


	#menu{
		clear:both;
		padding:0 2px;
		height:39px;
		background:url(images/menu-back.gif) no-repeat top left;
		color:#ffffff;
		
	}
	
	#menu ul{
		padding:0 7px;
	}
	
	#menu ul li{
		float:left;
		padding-left:17px;
		background:url(images/menu-li-back-left.gif) no-repeat bottom left;
	}
	
	#menu ul li.first{
		background:none;
	}
	
	#menu ul li a{
		color:#ffffff;
		float:left;
		font-size:1.2em;
		padding-right:17px;
		display:block;
		background:url(images/menu-li-back-right.gif) no-repeat bottom right;
		padding-top:5px;
		height:34px;
		line-height:34px;
	}
	
	#menu ul li.last a{
		background:none;
	}
	
	#menu ul li.current_page_item{
		background:url(images/li-menu-long.gif) no-repeat top left;
	}
	
	#menu ul li.current_page_item a{
		background:url(images/li-menu-short.gif) no-repeat top right;
		color:#317ac2;
	}

/* 960 coloumn */
	
	.col0 {
		width:940px;
		padding:0 10px;
	}
	
	.col1 {
		width:620px;
		padding:0 10px;
	}
	
	
	.col2 {
		float:left;
		padding:0px 10px 0px 10px;
		width:300px;
	}
	
	.col3 {
		float:left;
		padding:0px 10px 10px 10px;
		width:140px;
	}
	
/* End 960 Column */
	
	#mainbar {
		position:relative;
		padding:17px 20px 0 20px;
		height:178px;
		color:#ffffff;
		background:url(images/mainbar-back.png) repeat-x top left;
	}
	
	#mainbar h1 {
		color:#ffffff;
		font-size:1.4em;
		margin-bottom:7px;
	}
	
	#mainbar h1.page-title {
		width:500px;
		height:66px;
		text-indent:-9999px;
		display:block;
		position:absolute;
		top:45px;
		left:25px;
	}
	
	#mainbar h1.auberges{
		background:url(images/h1-auberges.png) no-repeat top left;
	}
	
	#mainbar h1.trains{
		background:url(images/h1-trains.png) no-repeat top left;
	}
	
	#mainbar h1.cars{
		background:url(images/h1-cars.png) no-repeat top left;
	}
	
	#right-mainbar{
		position:absolute;
		right:40px;
		top:10px;
	}
	
	ul#bread-crumb{
		position:absolute;
		bottom:13px;
		left:20px;
	}
	
	ul#bread-crumb li{
		float:left;
		margin-right:10px;
		padding-right:12px;
		list-style:url(images/bread-crumb-back.png) outside;		
	}
	
	ul#bread-crumb li.first{
		list-style:none;
	}
	
	ul#account-mainbar{
		position:absolute;
		bottom:10px;
		right:16px;
	}
	
	ul#account-mainbar li{
		float:left;
		margin-left:13px;
	}
	
	ul#account-mainbar li a{
		display:block;
		padding:5px 35px 5px 0px;
		
	}
	
	ul#account-mainbar li a.your-account{
		background:url(images/account-icon.png) no-repeat center right;
	}
	
	ul#account-mainbar li a.group-reserve{
		background:url(images/group-icon.png) no-repeat center right;
	}
		
	/* END Subpage and Genral page title */
	
/* Slides Home Page */

		
/*End Header and menu */

/*Content*/

	#second-container {
		background:url(images/content-top.gif) no-repeat top left;
		padding-top:12px;
		margin-top:10px;
	}
	
	#content {
	
		background:url(images/content-inside.gif) repeat-y top left;
		padding:0 2px;
	
	}
	
	#content-bottom {
	
		background:url(images/content-bottom.gif) no-repeat bottom left;
		height:12px;
	
	}
	
	#full-page{
		margin:0 0 10px 0px;
		padding:0px 0px 0px 0px;		
		
	}
	
	#main {
	
		float:left;
		margin:0 0 10px 0px;
		padding:0px 0px 0px 0px;
		display:inline;
		width:640px;		
	
	}
	
	.col0 h1.green-bar-order{
		color:#ffffff;
		font-size:1.45em;
		height:32px;
		line-height:30px;
		padding-left:32px;
		margin-bottom:0px;
		background:url(images/h2-green-bar-full.png) no-repeat top left;
	}
	
	.col1 h1.green-bar-order{
		color:#ffffff;
		font-size:1.45em;
		height:30px;
		line-height:30px;
		padding-left:35px;
		margin-bottom:15px;
		margin-bottom:0px;
		background:url(images/h2-green-bar-order.png) no-repeat top left;
	}
		
	.copy {
		padding:0 10px;
	}
	
	.copy h2{
		font-size:1.6em;
		line-height:1.3em;
		margin-bottom:5px;
	
	}
	
	.copy h3{
		font-size:1.5em;
		line-height:1.2em;
		margin-bottom:5px;
		font-weight:bold;
	
	}
	
	.copy h4{
		font-size:1.4em;
		line-height:1.1em;
		margin-bottom:3px;
		font-weight:bold;
	
	}
	
	.copy h5{
		font-size:1.2em;
		line-height:1.1em;
		margin-bottom:3px;
	
	}
	
	.copy ul, .copy ol {
		margin-left:30px;
		margin-bottom:15px;
		padding:0px;
	}
	
	.copy ul li {
		list-style:disc outside;
		line-height:1.6em;
		margin-bottom:5px;
	}
			
	.copy ol li {
		list-style:decimal outside;
		line-height:1.6em;
		margin-bottom:5px;
	}
	
	
	
/* Hostel list */

	.hostel-list{
		width:597px;
		height:94px;
		padding:10px;
		background:url(images/hostel-list-back.png) no-repeat top left;
		margin-bottom:20px;
		position:relative;		
	}
	
	.hostel-list .info {
		width:360px;
		float:left;
		margin-left:84px;
		padding-right:10px;
		background:url(images/info-back.gif) repeat-y top right;
	}
	
	.hostel-list .info img{
		padding:4px;
		border:1px solid #c7c7c7;
		float:left;
		margin-left:-84px;
	}
	
	.hostel-list .info h2 {
		font-size:1.3em;
		margin-bottom:3px;
		line-height:1.2em;
	}
	
	.hostel-list .info h2 a{
		color:#464646;
	}
	
	.hostel-list .info p{
		margin-bottom:0px;
		line-height:1.4em;
	}
	
	.hostel-list .info a.more-info {
		margin-top:5px;
		display:block;
	}
	
	.hostel-list .rating{
		float:right;
		padding-right:10px;
	}
	
	.hostel-list .rating p{
		text-align:right;
	}
	
	.hostel-list .rating p.value{
		font-size:1.8em;
		
		margin-bottom:5px;
	}

	.hostel-list a.reserve{
		position:absolute;
		bottom:0px;
		right:10px;
		text-indent:-9999px;
		display:block;
		width:114px;
		height:33px;
		background:url(images/hostel-list-reserve.png) no-repeat top left;
	}
	

/* Sidebar */	
	
	#sidebar {
		float:right;
		display:inline;
		padding:0px 10px 0px 10px;
		width:300px;
	}
	
	h2.blue-bar-300, h2.dark-bar-300, h2.green-bar-300{
		color:#FFFFFF;
		font-size:1.45em;
		height:30px;
		line-height:30px;
		margin-bottom:0;
		padding-left:35px;
	}
	
	h2.blue-bar-300{
		background:transparent url(images/h2-side-blue.png) no-repeat scroll left top;
	}
	
	h2.dark-bar-300{		
		background:transparent url(images/h2-side-dark.png) no-repeat scroll left top;
	}
	
	h2.green-bar-300{		
		background:transparent url(images/h2-side-green.png) no-repeat scroll left top;
	}
	
	.widget{
		margin-bottom:20px;
	}
	
	.widget-content{
		padding:10px 10px 0 10px;
	}
	
	
	
/* End Sidebar */
	
	
/* Pricing Table Styling */


	
/* Form Styling */


	form#search-form{
	}
	
	form#search-form ul li{
		float:left;
		display:inline;
		margin-right:10px;
	}
	
	form#search-form label{
		display:block;
	}
	
	form#search-form input.large-text{
		border:none !important;
		background:url(images/search-large-text.png) no-repeat top left;
		width:194px;
		height:16px;
		padding:5px 8px;
		line-height:26px;
		margin-top:3px;
	}
	
	form#search-form input.small-text{
		border:none !important;
		background:url(images/search-small-text.png) no-repeat top left;
		width:44px;
		height:16px;
		padding:5px 8px;
		line-height:26px;
		margin-top:3px;
	}
	
	form#search-form ul li.search-submit{
		clear:both;
		position:absolute;
		left:20px;
		bottom:39px;
		
	}
	
	form#search-form input#search-submit{
		border:none;
		text-indent:-9999px;
		background:url(images/search-button.png) no-repeat top left;
		height:49px;
		width:144px;
		cursor:pointer;
	}

	
	form#sort-result{
		width:603px;
		height:25px;
		padding:5px 0px 0px 12px;
		background:url(images/sort-results.png) no-repeat top left;
		margin-bottom:20px;
	}
	
	form#sort-result label{
		margin-right:5px;
	}
	
	form#sort-result select{
		margin-right:10px;
	}
/* Form Styling */

/*End Content*/
	
/*Footer */
	
	#footer{
		margin:0px 0 0px 0;
		padding:149px 0px 20px 0px;			
		color:#ffffff;
		background:#6c91ad url(images/footer-back.png) repeat-x top left;
    }
	
	#footer-content{
		width:960px;
		padding:0 0px;
		margin:0 auto;
		padding-top:5px;
		
	}
	
	#footer h1 {
		font-size:1.4em;
		background:url(images/h1-footer-back.gif) repeat-x bottom left;
		padding-bottom:3px;
	}
	
	#footer p{
		
	}
	
	#footer ul.disc{
		padding:0px;
		margin-left:20px;
	}
	
	#footer ul li {
		line-height:1.6em;
		margin-bottom:5px;
		
	}
	
	#footer ul.disc li{
		list-style:url(images/footer-li-disc.png) outside;
		line-height:1.5em;
		margin-bottom:5px;
		font-size:1.1em;
	}
	
	#footer a {
		color:#ffffff;
	}	
	
	#footer ul.inline-left a, #footer ul.inline-right a {
		color:#5b7b93;
	}
	
	#footer ul.inline-left{
		float:left;
		margin-left:20px;
		color:#6c91ad;
		margin-top:-175px;
	}
	
	#footer ul.inline-left li{
		float:left;
		margin-right:15px;
	}
	
	#footer ul.inline-right{
		float:right;
		margin-right:10px;
		margin-top:-175px;
	}
	
	#footer ul.inline-right li{
		float:left;
		margin-right:13px;
		padding-left:12px;
		background:url(images/footer-li-inline.png) no-repeat center left;
	}
	
	#footer ul.inline-right li.first{
		background:none;
	}
	

/*End Footer */

/* Facebox */

	#facebox .b {
	 	background:url(images/b.png);
	}
	
	#facebox .tl {
	  	background:url(images/tl.png);
	}
	
	#facebox .tr {
	  	background:url(images/tr.png);
	}
	
	#facebox .bl {
	  	background:url(images/bl.png);
	}
	
	#facebox .br {
	  	background:url(images/br.png);
	}
	
	#facebox {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
		text-align: left;
	}
	
	#facebox .popup {
	  	position: relative;
	}
	
	#facebox table {
	  	border-collapse: collapse;
	}
	
	#facebox td {
		border-bottom: 0;
		padding: 0;
	}
	
	#facebox .body {
		padding: 10px;
		background: #fff;
		width: 370px;
	}
	
	#facebox .loading {
	  	text-align: center;
	}
	
	#facebox .image {
	  	text-align: center;
	}
	
	#facebox img {
		border: 0;
		margin: 0;
	}
	
	#facebox .footer {
		border-top: 1px solid #DDDDDD;
		padding-top: 5px;
		margin-top: 10px;
		text-align: right;
	}
	
	#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
		height: 10px;
		width: 10px;
		overflow: hidden;
		padding: 0;
	}
	
	#facebox_overlay {
		position: fixed;
		top: 0px;
		left: 0px;
		height:100%;
		width:100%;
	}
	
	.facebox_hide {
	  	z-index:-100;
	}
	
	.facebox_overlayBG {
		background-color: #000;
		z-index:999;
	}
	
	* html #facebox_overlay { /* ie6 hack */
		position: absolute;
		height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}


/*Tools*/

	.hidden {
		display:none;
	}

	.center {
		margin:0 auto;
	}
	
	.last {
		margin:0px;
		padding:0px;
	}
	
	.imagelast {
		margin-left:0px;
		margin-right:0px;
	}
	
	.elementclear {
		clear:both;
	}
	
	.clear, .clearline {
		clear:both; 
		height:1px; 
		margin:0; 
		padding:0; 
		font-size: 15px;
		line-height: 1px;
	}
	
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	.clearfix {display: inline-block;}
	
	/* Hides from IE-mac \*/
	* html .clearfix {height: 1%;}
	.clearfix {display: block;}
	/* End hide from IE-mac */
	
	.margin-bottom {
		margin-bottom:20px;
	}
	
	.left {
		float:left;
		display:inline;
	}
	
	.right {
		float:right;
		display:inline;
	}