<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Auberges de Jeunesses</title>
	<meta http-equiv="Content-Language" content="en-us" />
	
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	
	<meta name="description" content="" />
    
	<meta name="keywords" content="" />
    <link href="style.css" media="all" rel="stylesheet" type="text/css" />
    
           
    <!--[if lt IE 7]>
       
       
       <style type="text/css" media="screen">
       @import url("ie6.css");
           
    	</style>
        
	<![endif]--> 
    
    <script type="text/javascript">
    
	$(function() {
		$("body").addClass("has-script");
       		
    });
	
    </script>

</head>

<body>

	<div id="container">
                    
            <!-- header -->
      <div id="top-menu" class="clearfix">
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="">Confidentialit&eacute;</a></li>
          <li class="last"><a href="">Conditions</a></li>
        </ul>
        
        <ul>
          <li><a href="">Se connecter</a></li>
          <li class="last"><a href="">S'enregistrer</a></li>          
        </ul>
        
      </div>      
      
      <div id="header" class="clearfix">
      
        <h1><a href="/">Auberges de jeunesses.com</a></h1>
        <div id="quote">
            
          
                                  
        </div> 
                     
      </div>
      
      <div id="menu">
           
        <ul>
         <li class="first "><a href="">Accueil</a></li>
         <li ><a href="">Auberges de jeunesse</a></li>
         <li><a href="">Week-end</a></li>
         <li><a href="">Hotel</a></li>
         <li><a href="">Vol</a></li>
         <li><a href="trains.html">Trains</a></li>
         <li class="current_page_item"><a href="voitures.html">Voitures</a></li>
         <li><a href="">&Eacute;v&eacute;nement</a></li>
         <li class="last"><a href="">Contact</a></li>
        </ul>
        
      </div><!-- End Menus -->
      
           
      <div id="mainbar" class="clearfix" >
      	<h1 class="page-title cars">Louer une voitures</h1>
        
        
        <div id="right-mainbar">
        	<img src="images/pic-bar-car.png" alt="" />
        </div>
                
        
        <ul id="account-mainbar">
          <li><a class="your-account" href="">Votre Compte</a></li>
          <li><a class="group-reserve" href="">Réservation de groupe</a></li>
        </ul>
        
      </div><!-- end mainbar -->
      <div id="second-container">         
        <div id="content" class="clearfix">
          <div id="full-page">
            <div class="col0">
              <h1 class="green-bar-order">Trouver un train pour votre destination</h1>
                <div class="copy">
                  <h2>Hostel name</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh nibh, tincidunt in mollis malesuada, tincidunt a nibh. Suspendisse potenti. Suspendisse egestas felis commodo urna aliquet ac ullamcorper odio vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam malesuada orci sem, ac pulvinar est. Maecenas tempus magna sapien, vitae pharetra est. Nulla vitae libero ipsum, non tincidunt ante. Etiam massa ipsum, lacinia quis consequat quis, luctus ut diam. Nam sed felis et risus cursus venenatis ac vel erat. Integer arcu enim, pretium id iaculis ac, ultricies eget purus. Nullam bibendum arcu eget ipsum condimentum a ornare tortor molestie. Fusce tincidunt sollicitudin metus, et placerat quam commodo eget. Nulla sit amet nisl nulla, a pharetra magna. Integer et faucibus lacus.</p>
                  
                  <ul>
                    <li>Suspendisse potenti. Suspendisse egestas felis </li>
                    <li>pretium id iaculis ac, ultricies eget pu</li>
                    <li>ullamcorper odio vulputate. Vestibulum ante ipsum primis</li>
                    <li>condimentum non, gravida nec orci. Aliquam erat volutpat.</li>
                    <li>ullamcorper odio vulputate. </li>
                    <li>Lorem ipsum dolor sit amet,</li>
                  </ul>
                  
                  
				  <h3>Hostel name</h3>
				<p>Etiam diam odio, cursus id ullamcorper in, fermentum tempor risus. Donec ut justo quis dui vulputate porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque metus massa, pharetra ut consectetur eu, suscipit sit amet augue. Integer nec sem sit amet velit consectetur dignissim. Phasellus purus leo, semper commodo condimentum non, gravida nec orci. <a href="">Aliquam erat volutpat.</a> Nullam vulputate felis faucibus odio pellentesque ac sagittis sapien elementum. Donec justo libero, semper vitae rutrum nec, tincidunt ut ante. Nunc auctor pretium magna et congue.</p>
                
                  <ol>
                    <li>Suspendisse potenti. Suspendisse egestas felis </li>
                    <li>pretium id iaculis ac, ultricies eget pu</li>
                    <li>ullamcorper odio vulputate. Vestibulum ante ipsum primis</li>
                    <li>condimentum non, gravida nec orci. Aliquam erat volutpat.</li>
                    <li>ullamcorper odio vulputate. </li>
                    <li>Lorem ipsum dolor sit amet,</li>
                  </ol>
                
                
                <p> Integer pulvinar, odio ac sagittis lobortis, enim enim tempus urna, ut elementum ipsum ipsum rhoncus ipsum. Proin ut arcu velit, eget commodo purus. Nunc placerat est in justo viverra accumsan. Nam accumsan auctor ullamcorper. Morbi porta est a libero posuere feugiat. Pellentesque mauris eros, mollis feugiat convallis sed, posuere ut massa. Aenean eu nunc diam. Sed venenatis mattis arcu nec ultricies. Donec fringilla mi sed diam malesuada ut vestibulum lorem dapibus. Nullam risus metus, pretium sit amet auctor nec, sagittis ac magna.</p>
				<h4>Hostel name</h4>
<p>Proin lobortis aliquet turpis nec consectetur. In aliquam vehicula ipsum at dapibus. In sollicitudin sodales lorem in suscipit. Vivamus aliquet commodo elit ut consectetur. Aenean pulvinar commodo risus feugiat commodo. Vivamus tristique metus scelerisque dui consectetur pulvinar. Mauris semper felis at nibh porttitor tempus. Aliquam nec porttitor mi. Praesent eu leo in dolor dictum pellentesque at ut mi. Vivamus eget ante nibh, eget dignissim nisi. Suspendisse sit amet mi in massa malesuada egestas. Cras nec sapien lorem. </p>
      			<h5>Hostel name</h5>   
                
                <p>Proin lobortis aliquet turpis nec consectetur. In aliquam vehicula ipsum at dapibus. In sollicitudin sodales lorem in suscipit. Vivamus aliquet commodo elit ut consectetur. Aenean pulvinar commodo risus feugiat commodo. Vivamus tristique metus scelerisque dui consectetur pulvinar. Mauris semper felis at nibh porttitor tempus. Aliquam nec porttitor mi. Praesent eu leo in dolor dictum pellentesque at ut mi. Vivamus eget ante nibh, eget dignissim nisi. Suspendisse sit amet mi in massa malesuada egestas. Cras nec sapien lorem. </p>     
              
              </div>
            </div>          
          </div>
                    
              
        </div>
        
        <div id="content-bottom">
        </div>
        
      </div>
      
      <!--<div id="bottom-pub">
        <a href=""><img src="" alt="" /></a>
      </div>-->
       
    </div> <!--end container-->
    
    <div id="footer">
        <div id="footer-content" class="clearfix">
        	<ul class="inline-left">
            	<li><a href="">Auberges de Jeunesse @ 2010</a></li>
            </ul>
            
            <ul class="inline-right">
            	<li class="first"><a href="">Acceuil</a></li>
                <li><a href="">Auberges de Jeunesse</a></li>
                <li><a href="">Week-end</a></li>
                <li><a href="">Hotel</a></li>
                <li><a href="">Vol</a></li>
                <li><a href="">Trains</a></li>
                <li><a href="">Voitures</a></li>
            </ul>
        	<!--<div class="col2">
              <h1>&Agrave; propos de nous</h1>
              <p>some text here</p>
            </div>
            
        	<div class="col2">
              <h1>Title for the list</h1>
              <ul class="disc">
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
                <li><a href="">Item 5</a></li>
              </ul>
            </div>
            
        	<div class="col3">
            <h1>Title for the list</h1>
              <ul class="dots">
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
                <li><a href="">Item 5</a></li>
              </ul>
            </div>
            
        	<div class="col3">
            <h1>Title for the list</h1>
              <ul class="dots">
                <li><a href="">Item 1</a></li>
                <li><a href="">Item 2</a></li>
                <li><a href="">Item 3</a></li>
                <li><a href="">Item 4</a></li>
                <li><a href="">Item 5</a></li>
              </ul>
            </div>-->
            
        </div> 
        </div>        
   
</body>
</html>